# Node modules
/node_modules/
node_modules/
*.node

# Database files
*.sqlite
*.db

# Logs
logs/
*.log

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
node_modules/@next/swc-darwin-arm64/next-swc.darwin-arm64.node

.vercel
